.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {}
  to {
    transform: rotate(0.125turn) translate(1.5em,1.5em);
  }
}

@keyframes middle {
  from {}
  to {background-color: #c71585}
}

@keyframes bottom {
  from {}
  to {
    transform: rotate(-0.125turn) translate(1.5em,-1.5em);
  }
}

#top-nav {
  opacity: 1;
  position: absolute;
  top: 1em;
  width: 100%;
}

#top-nav a {
  text-decoration: none;
  color: rgb(26, 23, 21);
}

#top-nav a:hover {
  text-decoration: underline;
}

#top-nav ul {
  text-align: center;
}

#top-nav li {
  display: inline-block;
  width: 20%;
  padding: 1em;
  font-size: 160%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}