* {
    /* border: 1px solid black; */
}
body {
    text-align: center;
    background-color: darkgreen;
}

h1 {
    height: 5em;
    width: 40%;
    margin: auto;
    padding-top: 10%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: beige;
    text-shadow: 20px 20px 10px black;
}

li a {
    text-decoration: none;
    color: antiquewhite;
}

li a:hover {
    text-decoration: underline;
}

li {
    display: inline-block;
    width: 20%;
    margin: auto;
    font-size: 160%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}