main {
    transform: rotate(-7deg) scale(1.3,1);
}

ul {
    text-align: center;
}

li a {
    text-decoration: none;
    color: rgb(37, 35, 32);
}

li a:hover {
    text-decoration: underline;
}

li {
    display: inline-block;
    width: 20%;
    margin: auto;
    font-size: 160%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}