button {
    transition: 2s;
}

button:hover {
    transition: 2s;
    color: ghostwhite;
}

li a {
    text-decoration: none;
    color: rgb(41, 37, 32);
}

li a:hover {
    text-decoration: underline;
}

li {
    display: inline-block;
    width: 20%;
    margin: auto;
    font-size: 160%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}